# Week 2 dependencies
# Run: pip install -r requirements.txt

websockets==12.0   # for connecting to Binance's WebSocket stream
certifi            # provides trusted SSL certificates (needed on macOS)
confluent-kafka    # Kafka producer and consumer client
